.navbar {
  letter-spacing: 0.2rem;
  padding: 0 1.66667rem;
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  user-select: none;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.margin {
  height: 0.4rem;
}

.navItem {
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: border-bottom 0.5s ease;
}

.name {
  margin-block-start: 0.7em;
  margin-block-end: 0.2em;
}

.navItemTitle {
  margin-block-start: 1.1em;
  margin-block-end: 0.2em;
  font-size: 0.8rem;
}

.whiteBg {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

.navItem:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

.leftNav {
  max-width: 1170px;
  margin: auto;
  display: flex;
  font-size: 1.1rem;
  gap: 2.3rem;
}

.menu {
  --s: 19px;
  --c: black;
  margin-top: 0.8em;
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000) repeat-y content-box
    border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top, var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s), clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.fullScreenMenu {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullScreenMenuItem:hover {
  color: black;
}

.fullScreenMenuItem {
  font-size: 2rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

.menuOpen {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .navItem {
    display: none;
  }
  .navbar {
    transition: padding 0.3s ease;
    padding: 0 0.3rem;
  }
}
