:root {
  --index: calc((1vw + 1vh) / 1.2); /* 1.2 is the scale factor */
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-raleway);
}

h1 {
  letter-spacing: 0.35rem;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.2rem;
}

html,
body {
  overflow-x: hidden;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 3rem;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.white-bg {
  background-color: white;
}
