.roundedDivWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(120px - (var(--scroll-progress-hero) * 1px));
  overflow: hidden;
}

.roundedDiv {
  will-change: transform, height;
  position: absolute;
  left: 50%;
  height: 750%;
  width: 150%;
  background-color: #f8f8f8;
  transform: translate(-50%);
  border-radius: 50% 50% 0 0;
  z-index: 100;
  background-color: #f8f8f8;
  transition: height 0.1s ease-out;
}
.reversedRoundedDivWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100px - (100px * (var(--scroll-progress-contact) / 100)));
  overflow: hidden;
}
.reversedRoundedDiv {
  position: absolute;
  left: 50%;
  height: 770%;
  transform: translate(-50%, -86.6%);
  width: 170%;
  background-color: #f8f8f8;
  border-radius: 50%;
  z-index: 100;
}

@media (max-width: 768px) {
  .roundedDivWrapper {
    height: calc(70px - (var(--scroll-progress-hero) * 1px));
  }
  .reversedRoundedDivWrapper {
    height: calc(70px * (var(--scroll-progress-contact) / 100));
  }
}
