.container {
  --size: 3rem;
  position: absolute;
  left: calc(50% - var(--size) / 2);
  top: 13rem;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.svg {
  height: var(--size);
  width: var(--size);
}

@media (max-width: 768px) {
  .container {
    --size: 2rem;
  }
}
